.home {
    background-color: #fafafa;
    padding-bottom: 55px;
}

.home-banner {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 60px;
    font-weight: 600;
    padding: 20px 0;
    background-color: rgb(223, 67, 134);
    color: antiquewhite;
    overflow: auto;
}

.sparcs-logo-wrapper {
    padding: 100px 0 60px 0;
}

.sparcs-logo {
    color: white;
    font-weight: 1000;
    font-size: 80px; 
}

.link-wrapper {
    width: calc(100% - 60px);
    max-width: 800px;
    margin: 10px auto 30px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
    padding: 10px;
}

.link-options {
    --gap: 10px;
    --grid-width: min(800px, 100%);
    width: var(--grid-width);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, calc(calc(var(--grid-width) - var(--gap)) / 2));
    gap: var(--gap);
}

.page-link {
    border: solid 1px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    animation: transform, box-shadow 100ms ease;
}

.page-link:hover {
    cursor: pointer;
    transform: scale(1.0);
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.page-link .page-subtitle {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: rgb(235, 160, 042);
}

.page-link .page-title {
    padding: 20px 0 20px 0;
    font-size: 22px;
    font-weight: 600;
}



.Authenticationclass{
    float: right;
    text-align: center;
    width:250px;
    font-size: 15px;
    margin: 20px;
    margin-right: calc(50% - 400px);
    border: solid 1px rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);  
    background-color: #fafafa;
}

.Authenticationclass input {
    border-radius: 5px;
    width: 90%;
    margin: 5px auto;
    padding: 3px    ;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);  
}
button {
    width: 35%;
    float: right;
    background-color:aliceblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);  
    margin: 5px;
}

.page-subtitle-ee{
    font-size: 20px;
    color: rgb(28, 25, 25);
    margin: 5px ;
}

.page-subtitle-ed{
    font-size: 15px;
    color: rgb(28, 25, 25);
    margin: 5px ;
}