.post-list {
    padding: 25px 10px;
    width: calc(100% - 20px);
    max-width: 800px;
    margin: auto;
}

.post-item {
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 15px;
    width: 100%;
    margin: 10px 0;
    position: relative;
    transition: transform 200ms ease, box-shadow 200ms ease;
}
.post-item:hover {
    
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
}

.post-item-add {
    border: dotted 1px black;
    border-radius: 15px;
    padding: 10px 15px 10px 10px;
    text-align: left;
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.post-item-add:hover{
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
}

.post-add-button {
    margin-top: 20px;
    padding: 10px;
    border-top: solid 1px rgba(0,0,0,0.1);
}

.post-add-button:hover {
    cursor: pointer;
    font-weight: 700;
}

.post-bddd{
    font-size: 13px;
    text-align: right;
    margin: 10px;
}

.delete-item {
    position: absolute;
    right: 15px;
    top: 12px;
    color: red;
    font-size: 18px;
}

.delete-item:hover {
    font-weight: bold;
    cursor: pointer;
}

.post-title-input {
    width: 50%;
    
}

#post-count-input {
    width: 20%;
}
.post-content-input {
    width: 100%;    
    height: 300px;
}